
<p-table [value]="data" [lazy]="true" 
 (onLazyLoad)="onLazyLoad($event)" styleClass="p-datatable-striped"
  [rowsPerPageOptions]="rowsPerPageOptions" [loading]="loading">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        {{ 'Name' }} <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="unit">
        Actions
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-recipe>
    <tr>
      <td [routerLink]="linkToDetail(recipe)">{{ recipe.name }}</td>
      <td>
        <div class="p4-grid p-justify-end">
          <div class="p-col-fixed">
            <button pButton icon="fal fa-pencil" class="p-button-primary p-button-sm" label="Detail"
              [routerLink]="linkToDetail(recipe)"></button>
          </div>
          <div class="p-col-fixed">
            <button pButton icon="fal fa-trash" class="p-button-danger p-button-sm" label="Delete"
              (click)="deleteBtnClick.emit(recipe.id)"></button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr *ngFor="let a of helperForLodingTemplate()">
      <td *ngFor="let d of helperForLodingTemplate(2)">
        <p-skeleton></p-skeleton>
      </td>
    </tr>
  </ng-template>
</p-table>