<ral-title heading="RecipeDetail"></ral-title>


<div class="p-grid p-grid--with-bottom">
  <div class="p-col-12 p-md-8">
    <p-card>
      <h3 class="h3">{{data.name}}</h3>
      <span>{{data.defaultPortions}}</span>

      <ul>
        <li *ngFor="let item of data.ingredients">
          <span>
            {{item.material.name}}
          </span>
          <span>
            {{recalculate(data.defaultPortions,item.amount)}}
          </span>
          <span>
            {{item.material.unit}}
          </span>

        </li>
      </ul>
    </p-card>
  </div>
  <div class="p-col-12 p-md-4">
    <p-card>
      <h3 class="h3">Set drinks count</h3>
      <form [formGroup]="form" (ngSubmit)="onFormSubmit(model)">
        <div class="p-grid">
          <div class="p-col-12">
            <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options">
            </formly-form>
          </div>
          <div class="p-col-12">
            <button pButton type="submit" [label]="'send'"></button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>