<ral-title heading="Recipe Detail">
  <div class="p-grid p-grid--with-bottom">
    <div class="p-col-fixed">
      <button pButton label="Back" [routerLink]="['../']" class=""></button>
    </div>
    <div class="p-col-fixed" *ngIf="recipeDetailPageStore.editNonMode$ | async">
      <button pButton label="Edit" (click)="toggleEdittiongMode()" class=""></button>
    </div>
    <div class="p-col-fixed" *ngIf="recipeDetailPageStore.editMode$ | async">
      <button pButton label="End Editing" (click)="toggleEdittiongMode()" class=""></button>
    </div>
  </div>
</ral-title>

<div *ngIf="recipeDetailPageStore.editNonMode$ | async">

  <div class="p-grid p-grid--with-bottom">
    <div class="p-col-12 p-md-8">
      <p-card *ngIf="combineddata$ | async as data">
        <h3 class="h3">{{data.name}}</h3>

        <p><mark>Default number of portions:</mark> {{data.defaultPortions}} porce</p>
        <p><mark>Preparation time:</mark> {{data.defaultPortions}} min</p>
        <p>{{data.description}}</p>
        <h4 class="h4">

          Ingredience list for {{model.defaultPortions}} portions
        </h4>
        <ul class="list" style="padding-left: 20px;">
          <li *ngFor="let item of data.materials">
            <span>
              {{item.material.name}}
            </span>
            <span>
              {{recalculate(data.defaultPortions,item.amount)}}
            </span>
            <span>
              {{item.material.unit}}
            </span>

          </li>
        </ul>
      </p-card>
    </div>
    <div class="p-col-12 p-md-4">
      <p-card>
        <h3 class="h3">How many portions do you want?</h3>
        <form [formGroup]="form" (ngSubmit)="onFormSubmit(model)">
          <div class="p-grid">
            <div class="p-col-12">
              <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options">
              </formly-form>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</div>

<p-card *ngIf="recipeDetailPageStore.editMode$ | async">
  <cook-book-edit-recipe-form [data]="recipeDetailPageStore.data$ | async" (formSubmit)="formSubmit($event)">
  </cook-book-edit-recipe-form>



</p-card>