/* You can add global styles to this file, and also import other style files */

@import "scss/app/global";
// import vsech libek
@import "ralba/main.scss";

.p-sidebar-content {
	height: 100%;
}


pre{
  display: none !important;
}

.p-error{
  padding-top: 4px;
  display: block;
}

.p-sidebar-content{
  overflow: hidden !important;
}